streamlit
requests
SpeechRecognition
gTTS
fastapi
pydantic
langchain-groq
python-dotenv
groq
uvicorn
streamlit-mic-recorder
streamlit
gtts
groq
google-cloud-speech
google-oauth2-tool
python-dotenv
uuid
